<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419504748891-f9e63rm4msvcjsj0sgigur0g97t3vr9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419504748891-f9e63rm4msvcjsj0sgigur0g97t3vr9k</string>
	<key>API_KEY</key>
	<string>AIzaSyAA8T8tv7KuhlUns2L9Pr1xw5k3hsP3Jvo</string>
	<key>GCM_SENDER_ID</key>
	<string>419504748891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RMITUniversityVietnam.NPC</string>
	<key>PROJECT_ID</key>
	<string>npc-project-asm-3</string>
	<key>STORAGE_BUCKET</key>
	<string>npc-project-asm-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419504748891:ios:0ada386058506ec128827e</string>
</dict>
</plist>