<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342884084399-24mh59vqi4tn5bfeh59lpcbmj8i2ukcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342884084399-24mh59vqi4tn5bfeh59lpcbmj8i2ukcp</string>
	<key>API_KEY</key>
	<string>AIzaSyAfr25iMWiJDxqq2yhhzbl8cmA3-2kwczI</string>
	<key>GCM_SENDER_ID</key>
	<string>342884084399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RMITUniversityVietnam.NPC</string>
	<key>PROJECT_ID</key>
	<string>npc-project-742bd</string>
	<key>STORAGE_BUCKET</key>
	<string>npc-project-742bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342884084399:ios:3c3bdc98e1c1a1abb1425a</string>
</dict>
</plist>